@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'mixin.scss';

// keyframe aniimations
@include keyframes(piechart) {
	from{
		transform: rotate(-180deg);
	}
    to {
        transform: rotate(-40deg);
    }
} 
@include keyframes(arrow) {
	from{
		transform: rotate(-90deg);
	}
    to {
        transform: rotate(49deg);
    }
}
@include keyframes(progress1) {
	from{
		width: 0;
	}
    to {
        width: 87%;
    }
}
@include keyframes(progress2) {
	from{
		width: 0;
	}
    to {
        width: 64%;
    }
}
@include keyframes(progress3) {
	from{
		width: 0;
	}
    to {
        width: 90%;
    }
}
@include keyframes(progress4) {
	from{
		width: 0;
	}
    to {
        width: 44%;
    }
}
@include keyframes(progress5) {
	from{
		width: 0;
	}
    to {
        width: 52%;
    }
}
@mixin progress1 {
    @include animate(progress1, 2s, 1, forwards);
}
@mixin progress2 {
    @include animate(progress2, 2s, 1, forwards);
}
@mixin progress3 {
    @include animate(progress3, 2s, 1, forwards);
}
@mixin progress4 {
    @include animate(progress4, 2s, 1, forwards);
}
@mixin progress5 {
    @include animate(progress5, 2s, 1, forwards);
}

@mixin arrow {
    @include animate(arrow, 2s, 1, forwards);
}
// defining mixin
@mixin piechart {
  @include animate(piechart, 2s, 1, forwards);
}
$size: 100px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 500px;
$medium_screen: 1240px;
$mobile_size: 75px;

body{
    margin: 0;
    padding: 0;
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Nunito', sans-serif;
        height: 100vh;
        align-items: center;
        .title{
            padding: 20px;
            text-align: center;
        }
        .car-preview{
            grid-column: 1;
            
            .car-wrapper{
                text-align: center;
                .img-container{
                    text-align: center;
                }
                .car-image{
                    // transform: rotateY(180deg);
                    width: 72%;
                }
            }
            .color-div{
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                .color-cirles{
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    display: inline-block;
                    border: 2px solid #bbb;
                    margin: 0 5px;
                    cursor: pointer;
                    transition: 0.3s;
                    &.active{
                        box-shadow: 3px 3px 10px rgba(0,0,0,.2);
                        height: 30px;
                        border-color: #fff;
                        width: 30px;
                    }
                }
                .silver{
                    background: #ddd;
                }
                .grey{
                    background: #666;
                }
                .blue{
                    background: blue;
                }
                .red{
                    background: #ff2626;
                }
            }
            .color-name{
                text-align: center;
                padding: 20px 0;
                font-weight: 600;
                color: #999;
                text-transform: capitalize;
            }
            .disclaimer{
                text-align: center;
                padding:0 10px 20px;
                font-weight: 600;
                font-size: 13px;
                color: #bbb;
            }
        }
        .car-details{
            grid-column: 2;
            padding-right: 20px;
            .rating{
                display: grid;
                grid-template-columns: 3fr 2fr;
                .rating-wrapper{
                    .bar-wrapper{
                        .label{
                            display: block;
                            font-weight: bold;
                            font-size: 14px;
                            color: #444;
                        }
                        .rating-bar{
                            margin-bottom: 15px;
                            display: grid;
                            grid-template-columns: 9fr 1fr;
                            .bar{
                                height: 20px;
                                background: #fff67d;
                                position: relative;
                                border-radius: 25px;
                                display: inline-block;
                                width: 99%;
                                &:before{
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    bottom: 0;
                                    background: #ffe100;
                                    border-radius: 25px;
                                }
                            }
                            .cr{
                                &:before{
                                    @include progress1();
                                }
                            }
                            .pr{
                                &:before{
                                    @include progress2();
                                }
                            }
                            .in{
                                &:before{
                                    @include progress3();
                                }
                            }
                            .sf{
                                &:before{
                                    @include progress4();
                                }
                            }
                            .rl{
                                &:before{
                                    @include progress5();
                                }
                            }
                            .reading{
                                display: inline-block;
                                font-weight: bold;
                                color: #444;
                            }
                           
                        }

                    }
                   
                }
            }
            .view-all{
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px;
                    color: rgb(0, 158, 221);
                }
            }
            .overall-rating{
                display: grid;
                align-items: center;
                .dashboard{
                    text-align: center;
                    position: relative;
                    .semicircle{
                        border-radius: 100% 100% 0 0;
                        height: $size;
                        width: $size * 2;
                        border-top-left-radius: $size * 2;
                        border-top-right-radius: $size * 2;
                        margin: 0 auto 10px;
                        background: #fff;
                        border: 12px solid #ffe100;
                        border-bottom: none;
                        position: relative;
                        overflow: hidden;
                        &:before{
                            content: '';
                            position: absolute;
                            background: #fff67d;
                            width: 100%;
                            height: 100%;
                            border-top-left-radius: 200px;
                            border-top-right-radius: 200px;
                            left: 0;
                            // transform: rotate(-40deg);
                            transform-origin: bottom;
                            @include piechart();
                        }
                        
                    }
                    .icon-meter{
                        position: absolute;
                        // transform: rotate(0deg);
                        transform-origin: 50% 105px;
                        left: 50%;
                        margin-left: -13px;
                        bottom: -15px;
                        width: 30px;
                        height: 120px;
                        @include arrow();
                    }
                    
                }
                .rating-avg{
                    font-size: 35px;
                    font-weight: 700;
                    text-align: center;
                }
                .o-rate{
                    font-size: 20px;
                    font-weight: bold;
                    color: #aaa;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .related-cars{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                margin-top: 40px;
                .cards{
                    margin: 0 8px;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0 0 10px rgba(0,0,0,.07);

                    .card-image{
                        height: 60px;
                        text-align: center;
                        padding: 20px 0 0;
                    }
                    .car-name{
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                    }
                    .rate{
                        text-align: center;
                        background: rgb(0, 158, 221);
                        color: #fff;
                        font-weight: bold;
                        padding: 5px;
                    }
                }
            }
        }
    }
    @media (max-width:$medium_screen){
        .container{
            grid-template-columns: 3fr 5fr;
        }
    }
    @media (max-width:$breakpoint-tablet){
        .container{
            grid-template-columns: 1fr;
            // grid-template-rows: 1fr 1fr;
            .car-preview{
                grid-row: 1;
                .car-wrapper{
                    .car-image{
                        width: 60%
                    }
                }
            }
            .car-details{
                grid-row: 2;
                grid-column: 1;
                padding: 0 20px;
                .rating .rating-wrapper .bar-wrapper .rating-bar{
                    margin-bottom: 5px;
                    .bar{
                        height: 12px;
                    }
                }
                .overall-rating{
                    .dashboard{
                        .semicircle{
                            height: $mobile_size;
                            width: $mobile_size * 2;
                            border-top-left-radius: $mobile_size * 2;
                            border-top-right-radius: $mobile_size * 2;
                            
                        }
                        .icon-meter{
                            position: absolute;
                            transform-origin: 50% 89px;
                            left: 50%;
                            margin-left: -16px;
                            bottom: -11px;
                            width: 24px;
                            height: 98px;
                            @include arrow();
                        }
                        
                    }
                    .rating-avg{
                        font-size: 35px;
                        font-weight: 700;
                        text-align: center;
                    }
                    .o-rate{
                        font-size: 20px;
                        font-weight: bold;
                        color: #aaa;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        body .container .car-details .related-cars {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: $breakpoint-mobile){
        .container{
            .car-preview{
                .car-wrapper{
                    .car-image{
                        width: 90%
                    }
                }
            }
            .car-details {
                .rating{
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    .overall-rating{
                        grid-row: 1;
                        .dashboard{
                            .semicircle{
                                height: $size;
                                width: $size * 2;
                                border-top-left-radius: $size * 2;
                                border-top-right-radius: $size * 2;
                            }
                            .icon-meter{
                                position: absolute;
                                transform-origin: 50% 105px;
                                left: 50%;
                                margin-left: -13px;
                                bottom: -15px;
                                width: 30px;
                                height: 120px;
                            }
                        }   
                    }
                }
                .related-cars{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

